body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.div {
  width: 2rem;
  height: 2rem;
  margin: .5rem;
}



.content {
  min-height: 100%;
  min-width: 1024px;

   /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  padding: 0;
  background: linear-gradient(to bottom, #47c565, #ece9e6  60%) no-repeat center center fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


iframe {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 20px;

  border-radius: 6px;

  box-shadow: 4px 4px 14px #000;
}

img {
  margin-top: 50px;
  margin-bottom: 30px;
}
